<!------------------------navbar section-------------------------->
<section class="navbar"><%- include("partials/navbar") %> </section>

<!------------------------landing section-------------------------->
<section id="home" class="landing"><%- include("partials/landing") %></section>

<!------------------------about section-------------------------->
<section class="about"><%- include("partials/about") %></section>

<!------------------------magazine section-------------------------->
<section class="magazine"><%- include("partials/magazine") %> </section>

<!------------------------Events Section----------------------------->
<section id="events" class="events"><%- include("partials/events") %></section>

<!------------------------Artist Section----------------------------->
<section class="artists"><%- include("partials/artist") %></section>

<!------------------------sponsor Section----------------------------->
<section class="sponsors"><%- include("partials/sponsor") %></section>

<!------------------------footer Section----------------------------->
<%- include("partials/footer") %>
